@model BankUserAccountManagementApplication.Models.BankAccountModels.BankAccountTransferViewModel

@{
    ViewData["Title"] = "Transfer";
}

<h2>Transfer</h2>


<form asp-action="Transfer" asp-route-id="@Model.ID">
    <div class="form-horizontal">
        <h4>Bank Account</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="ID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ID" class="form-control" disabled />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AmountCurrent" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AmountCurrent" class="form-control" disabled />
                <span asp-validation-for="AmountCurrent" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Owner" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Owner" class="form-control" disabled />
                <span asp-validation-for="Owner" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="AmountToTransfer" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AmountToTransfer" class="form-control" />
                <span asp-validation-for="AmountToTransfer" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="BankAccountIDToTransfer" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BankAccountIDToTransfer" class="form-control" />
                <span asp-validation-for="BankAccountIDToTransfer" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ModifiedDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ModifiedDate" class="form-control" disabled />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
        </div>
      
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.AmountCurrent)
        @Html.HiddenFor(model => model.Owner)
        @Html.HiddenFor(model => model.ModifiedDate)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" asp-route-id="@Model.ID">Back to List</a>
</div>

